<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="icon" href="https://www.shareicon.net/download/2015/10/04/111746_google-icon.ico" sizes="32x32">
    <link rel='stylesheet' id='main-css'  href='{{ asset('css/main/main.css') }}' type='text/css' media='all' />
  </head>
  <body>
    <div class="header-fixed">
      <div class="social-container">
        <ul class="social-icons">
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
        </ul>
      </div>
      <div class="logo">
        <img src="{{ asset('images/logo.png') }}" class="center-position" alt="{{ asset('images/image-not-found.png') }}">
      </div>
      <div class="menu-container">

      </div>
    </div>
  </body>
</html>
